:root {
    /* Font Sizes */
    --fs-sm: 1.25rem;
    --fs-md: 1.75rem;
    --fs-lg: 2rem;

    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Colors */
    --color-header: #6691E1 ;
    --color-h1: #252B36 ;
    --color-text: #6c757d ;
    --color-border-photo: #7186AD;

}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: "Saira Extra Condensed", sans-serif;
    font-style: normal;
    line-height: 1.5;
}
*{
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    margin-left: 17rem;
}
.section-inner {
    width: 100%;
    max-width: 960px;
    padding: 0 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.app{
    display: flex;
    flex-direction: column;
}
.section-box{
    display: flex;
    border-bottom: var(--color-text) solid 1px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 3rem;
}
.mr1{
    margin-bottom: 1rem;
}
.mr2{
    margin-bottom: 2rem;
}
.section-content-box{
    width: 100%;

}
.section-header{
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: var(--fw-bold);
    color: var(--color-h1);
}
.second-heading{
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--color-h1);
}
.third-heading{
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    color: var(--color-text);
}
.description-text{
    font-family: "Muli", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
    color: var(--color-text);
}
.date-text{
    flex-shrink: 0;
    color: var(--color-header);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
}
.flex-row {
    display: flex;
    flex-direction: row;
}
/*Header*/
.profilePhoto{
    width:12rem;
    height:12rem;
    border-radius: 50%;
    border: 10px solid var(--color-border-photo);
    margin-bottom: 1rem;
}
.header{
    position: fixed;
    background-color: var(--color-header);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 17rem;
}
.header-nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
}
.header-nav{
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    color: var(--color-h1);
    font-size: var(--fs-sm);
    text-decoration: none;
    padding: 0 1rem;
}
.header-nav:hover{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}
/*About*/
.about-name{
    font-size: 6rem;
    color: var(--color-h1);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    overflow: hidden;
}
.text-primary{
    color: var(--color-header);
    text-decoration: none;
}
.about-contact{
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    font-size: var(--fs-md);
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: var(--color-text);
}
.about-info {

    margin-bottom: 3rem;
    width: 70%;
}
.social-icon{
    font-size: 3.5rem;
    color: #495057;
}
/*Experience*/
.experiencePlaceBox{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.experiencePosition{
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}
.experienceCompany{
    font-weight: var(--fw-medium);
    font-size: var(--fs-md);
}
/*Skill*/
.skillWorkflow{
    padding: 0;
}
.skills-icon-box{
    display: flex;
    gap: 0.5rem;
}
.skills-icon{
    font-size: 3.5rem;
}
/*Certifications*/
.certificationsList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}


@media (max-width: 768px) {
    .about-name{
        font-size: 3rem;
        text-align: start;

    }
    .about-info {
        width: 100%;
    }
    .experiencePlaceBox{
        width: 100%;
    }
    .section-box{
        padding: 5rem 1.5rem;
        height: auto;
        min-height: auto;
    }
    .section-header{
        font-size: 2rem;
    }
    .experiencePosition {
        font-size: 1.5rem;
        text-align: left;
    }
    .third-heading {
        font-size: 1.5rem;
        text-align: left;
    }
    .description-text {
        font-size: 1rem;
        text-align: left;
    }
    .date-text {
        font-size: 1.4rem;
    }
    .about-contact {
        font-size: 1.4rem;
    }
    .header {
        display: none;
    }
    .main {
        margin-left: 0;
    }
    .social-icon {
        font-size: 3rem;
    }
    .skills-icon{
        font-size: 3rem;
    }
}
@media (max-width: 330px) {
    .social-icon {
        font-size: 2.5rem;
    }
    .skills-icon{
        font-size: 2.5rem;
    }
}
